.idea/libraries
.idea
angular2-training-backend/akka-http-server/project/project/target
angular2-training-backend/akka-http-server/project/target
angular2-training-backend/akka-http-server/target
target
