<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <h3>
        Angular 2 Seed
      </h3>
      <!--<nav>-->
      <!--<a [routerLink]="['/']">-->
      <!--Home-->
      <!--</a>-->
      <!--|-->
      <!--<a [routerLink]="['/github', 'angular']">-->
      <!--Github Repos-->
      <!--</a>-->
      <!--|-->
      <!--<a [routerLink]="['/test']">-->
      <!--Test-->
      <!--</a>-->
      <!--</nav>-->
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <error></error>
    </div>
    <div class="col-md-2">
      <menu></menu>
    </div>
    <div class="col-md-10 main">
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</div>
