<div>
  <form [ngFormModel]="form" (ngSubmit)="onSubmit()">
    <fieldset>
      <legend>{{title}}</legend>
      <div *ngFor="let metadata of formMetadata" class="form-row">
        <form-item [data]="metadata" [form]="form"></form-item>
      </div>
    </fieldset>
    <div class="form-row">
      <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Save</button>
      <button class="btn btn-default" type="button" (click)="goBack()">Back</button>
    </div>
  </form>
  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
